<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.comstudy21.myweb.BoardMapper">
	<select id="getBoard" resultType="BoardVO">
	<![CDATA[
		select * from board where
		seq = #{seq}
	]]>
	</select>

	<select id="getBoardList" resultType="BoardVO">
		select * from board 
		where 1 = 1
		<if test="searchCondition == 'TITLE'">
			and title like '%'||#{keyword}||'%' 
		</if>
		<if test="searchCondition == 'CONTENT'">
			and content like '%'||#{keyword}||'%' 
		</if>
		order by seq desc
	</select>

	<insert id="insertBoard" useGeneratedKeys="true" keyProperty="id">
	<![CDATA[
		insert into board (seq, title, writer, content, regdate)
		values ((select nvl(max(seq),0) from board)+1,#{title},#{writer},#{content}, CURRENT_DATE)
	]]>
	</insert>
	
	<update id="updateBoard">
	<![CDATA[
		UPDATE BOARD
		SET TITLE=#{title}, WRITER=#{writer}, CONTENT=#{content}
		WHERE SEQ=#{seq};
	]]>
	</update>
	
	<delete id="deleteBoard">
	<![CDATA[
		DELETE FROM BOARD WHERE SEQ=#{seq};
	]]>
	</delete>
</mapper>