<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD configon 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="BoardVO" type="com.myproject.myapp.board.BoardVO"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/Board-Mapper.xml"></mapper>
	</mappers>
</configuration>